<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="main/headerFooter/headSetting :: headSetting"></th:block>
<body>
    <th:block th:replace="main/headerFooter/header :: header"></th:block>
    <div class="container-fluid py-6">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2 class="mb-1 GangwonEdu_OTFBoldA wow fadeInUp" data-wow-delay="0.1s"><span class="text-primary">함께하는 따뜻한 추억</span></h2>
                    <h1 class="display-1 wow fadeInUp" data-wow-delay="0.3s">Warm<span class="text-primary"> Memories </span>Together</h1>
                    <div class="row gx-4 justify-content-center py-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="col-md-6 col-lg-4">
                            <div class="overflow-hidden rounded img-square">
                                <img th:src="@{/img/art1.jpg}" class="img-inner w-100" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="overflow-hidden rounded img-square">
                                <img th:src="@{/img/art2.jpg}" class="img-inner w-100" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="overflow-hidden rounded img-square">
                                <img th:src="@{/img/art3.jpg}" class="img-inner w-100" alt="">
                            </div>
                        </div>
                    </div>
                    <p class="mb-4 py-6 wow fadeInUp" data-wow-delay="0.7s">
                        안녕하세요, 라일락 굿즈입니다!!!!
                    </p>
                    <a href="https://www.instagram.com/lilac_goods/?igsh=MW90eDExOGQ2dWJzbg%3D%3D&utm_source=qr" class="btn btn-primary py-3 px-5 rounded-pill">인스타그램 바로가기<i class="fas fa-arrow-right ps-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <th:block th:replace="main/headerFooter/footer :: footer"></th:block>
    </body>
</html>