<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">
<th:block th:replace="headerFooter/headSetting :: headSetting"></th:block>
<body>
<th:block th:replace="headerFooter/header :: header"></th:block>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="">
                    <div class="nav-tabs">
                    <span>
                        배송지
                    </span>
                    </div>
                    <div class="nav-tabs">

                    </div>
                    <div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
<th:block th:replace="headerFooter/footer :: footer"></th:block>
<th:block th:replace="headerFooter/js :: js"></th:block>
</body>
</html>