<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <th:block th:fragment="footer">

        <!-- Copyright Start -->
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center text-md-start mb-3 mb-md-0">
                        <h1 class="text-primary">Cater <span class="text-light">Serv</span></h1>
                    </div>
                    <div class="col-md-3 my-auto text-center text-md-start text-white">
                        <i class="fa fa-map-marker-alt text-primary me-2"></i> 123 Street, New York, USA
                    </div>
                    <div class="col-md-3 my-auto text-center text-md-start text-white">
                        <i class="fa fa-phone-alt text-primary me-2"></i> (+012) 3456 7890 123
                    </div>
                    <div class="col-md-3 my-auto text-center text-md-start text-white">
                        <i class="fas fa-envelope text-primary me-2"></i> info@example.com
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-md-square btn-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

    </th:block>
</body>
</html>