<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <th:block th:fragment="header">
        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar start -->
        <div class="container-fluid nav-bar">
            <div class="container">
                <nav class="navbar navbar-light navbar-expand-lg py-4">
                    <a th:href="@{/templates/home}" class="navbar-brand">
                        <h1 class="text-primary fw-bold mb-0">Lilac<span class="text-dark"> Goods</span> </h1>
                    </a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a th:href="@{/templates/home}" class="nav-item nav-link">Home</a>
                            <a th:href="@{/main/about}" class="nav-item nav-link">AboutUs</a>
                            <a th:href="@{/store/list}" class="nav-item nav-link">Store</a>
                            <a th:href="@{/news/list}" class="nav-item nav-link">Events</a>
                            <a th:href="@{/testimonial/list}" class="nav-item nav-link">testimonial</a>
                            <a th:href="@{/main/contact}" class="nav-item nav-link">FAQ</a>
                        </div>
                        <div class="nav-item dropdown isUser">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">User</a>
                            <div class="dropdown-menu bg-light">
                                <a th:href="@{/mypage/info}" class="dropdown-item">내정보</a>
                                <a th:href="@{/mypage/product}" class="dropdown-item">결제 내역</a>
                                <a th:href="@{/mypage/testimonial}" class="dropdown-item">나의 후기</a>
                                <a th:href="@{/mypage/modify}" class="dropdown-item">개인 정보 수정</a>
                                <a th:href="@{/mypage/logout}" class="dropdown-item">로그아웃</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown notUser">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Guest</a>
                            <div class="dropdown-menu bg-light">
                                <a th:href="@{/main/login}" class="dropdown-item">로그인</a>
                                <a th:href="@{/main/join}" class="dropdown-item">회원가입</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->

    </th:block>
</body>
</html>